# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Java_platform\fresh_learning_java\Day_18\SpringMVC数据响应\01SpringMVCResponse_dispatchPages\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
